* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --success: #2c7;
    --error: #e43;
}

body {
    background-color: $navbgc;
    min-height: 100vh;
}

.mainHeader {
    @extend %header
}

.bgC {
    background-image: url('../pics/Contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 830px;
}

.cound {
    width: 100vw;
    height: 100px;
    background-color: $navbgc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.205) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.countDownValues {
    width: 25vw;
    text-align: center;
    font-family: 'pattaya';
    font-size: 30px;
    color: $navcolor;
}

.textcound {
    width: 25vw;
    font-family: 'pattaya';
    text-align: center;
    font-size: 20px;
    color: #eecc0f;
}

.contactContainer {
    width: 100vw;
    background-color: $navbgc;
    height: 900px;
    padding: 90px;
}

.container {
    width: 50vw;
    margin: 0 auto;
    background-color: #eecc0f;
    border-radius: 15px;
    box-shadow: 7px 7px 7px #00b53080;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @include mobile{
        width: 75vw;
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
h2 {
    font-family: 'pattaya';
    font-size: 3em;
    text-align: center;
    color: $navcolor;
    padding: 40px;
}

p {
    margin: 20px;
    padding-bottom: 20px;
    font-family: 'Roboto';
    font-size: 1em;
    color: $navcolor;
    text-align: center;
    line-height: 1;
    font-weight: 600;
}

.formControl {
    color: #666;

}

.label {
    text-align: center;
    display: block;
    font-family: 'pattaya';
    color: #00b52f;
    font-size: 1.5em;
    width: 100%;
    margin-top: -10px;

        @include tablet{
            display: none;
        }
}

.formControl input {
    border: 2px solid rgb(114, 113, 113);
    background-color: $navbgc;
    border-radius: 4px;
    display: block;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    font-size: 1.1rem;
}

.formControl input:focus {
    outline: 0;
    border-color: #777;
}

.formControl.sucess input {
    border-color: var(--success);
}

.formControl.error input {
    border-color: var(--error);
}

.formControl small {
    color: var(--error);
    visibility: hidden;

}

.formControl.error small {
    visibility: visible;
}

input[type=submit] {
    border: 2px solid #eecc0f;
    border-radius: 4px;
    color: #eecc0f;
    background-color: $navcolor;
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    width: 25%;
    
}

.fotter {
    width: 100vw;
    height: 70px;
    background-color: $navbgc;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotter p {
    color: $navcolor;
}